.location-field_areas {
    &_item {
        margin: 10px;

        &_main-loc {
            font-family: 'Roboto';

            svg {
                margin-right: 5px;
            }
        }
    }
}