.order-result {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 70vh;
  margin: 0 auto;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &_info {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #000000;
      text-transform: uppercase;

      &_result-success,
      &_result-error {
        font-family: Sniglet;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
      }

      &_result-success {
        color: #00cb77;
        line-height: 26px;
      }

      &_result-error {
        color: #e64c3c;
        line-height: 25px;
      }
    }

    &_image {
      margin-top: 55px;
      width: 115px;
      height: 115px;
    }

    &_order-info {
      margin-top: 18px;
      font-family: Quicksand;
      font-style: normal;
      font-weight: normal;
      text-align: center;
      font-size: 14px;
      line-height: 16px;
      color: #7c8495;
      display: flex;
      flex-direction: column;
      text-transform: uppercase;

      &_id {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 15px;
        text-align: center;
        color: #098afd;
      }
    }

    &_btn {
      margin-top: 58px;
      max-width: 192px;
      width: 100%;
      background: #42459d;
      border-radius: 16px;
      text-transform: uppercase;
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      color: #ffffff;
      height: 45px;
      border: none;
      cursor: pointer;

      &:focus {
        outline-style: none;
        box-shadow: none;
      }
    }
  }
}
